<a href="/admin/adduser" class="btn btn-primary">Thêm sản phẩm</a>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Projects table</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Function</th>

                </tr>
              </thead>
              <tbody>
                <%
                  rows.map(list=>{%>
                    <tr>
                      <td>
                        <p><%= list.id %></p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0"><%= list.name %></p>
    
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success"><%= list.price %></span>
                      </td>
    
                      <td class="align-middle text-center text-sm">
                        <a href="/admin/viewuser/<%= list.id %>" class="btn btn-success ">View</a>
                        <a href="/admin/edituser/<%= list.id %>" class="btn btn-danger ">Edit</a>
                        <a href="/admin/deleteuser/<%= list.id %>" class="btn btn-warning ">Delete</a>
                      </td>
    
    
                    </tr>
                    
                  <%})

                %>
               

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>