<section class="_1khoi sachmoi bg-white">
    <div class="container">
        <div class="noidung" style=" width: 100%;">
            <div class="row">
                <!--header-->
                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-transparent pt-4">
                    <h1 class="header text-uppercase" style="font-weight: 400;">SÁCH MỚI TUYỂN CHỌN</h1>
                    <a href="sach-moi-tuyen-chon.html" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                </div>
            </div>
            <div class="khoisanpham" style="padding-bottom: 2rem;">
                <!-- 1 san pham -->
                <% 
                    data.map(datas=>{%>
                        <div class="card">
                            <a href="detail_product/<%= datas.slug %>" class="motsanpham"
                                style="text-decoration: none; color: black;" data-toggle="tooltip" data-placement="bottom"
                                title="Lập Kế Hoạch Kinh Doanh Hiệu Quả">
                                <img class="card-img-top anh" src="images/<%= datas.image %>"
                                    alt="lap-ke-hoach-kinh-doanh-hieu-qua">
                                <div class="card-body noidungsp mt-3">
                                    <h3 class="card-title ten"><%= datas.name %></h3>
                                    <small class="tacgia text-muted"><%= datas.author %></small>
                                    <div class="gia d-flex align-items-baseline">
                                        <div class="giamoi"><%= datas.price %> ₫</div>
                                        <div class="giacu text-muted"><%= datas.cost %> ₫</div>
                                        <div class="sale">-<%= datas.discount %>%</div>
                                    </div>
                                    <div class="danhgia">
                                        <ul class="d-flex" style="list-style: none;">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><span class="text-muted">0 nhận xét</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%})
                %>
               
               
            </div>
        </div>
    </div>
</section>

<!-- khoi sach combo hot  -->
<section class="_1khoi combohot mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
            <div class="row">
                <!--header -->
                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light">
                    <h2 class="header text-uppercase" style="font-weight: 400;">COMBO SÁCH HOT - GIẢM ĐẾN 25%</h2>
                    <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                </div>
            </div>
            <div class="khoisanpham">
                <%
                    combo.forEach(function(combos){%>
                        <div class="card">
                            <a href="/detail_product/<%= combos.slug %>" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"
                                data-placement="bottom" title="<%= combos.name %>">
                                <img class="card-img-top anh" src="images/<%= combos.image %>"
                                    alt="combo-chuyen-nghe-chuyen-doi">
                                <div class="card-body noidungsp mt-3">
                                    <h3 class="card-title ten"><%= combos.name %></h3>
                                    <small class="tacgia text-muted"><%= combos.author %></small>
                                    <div class="gia d-flex align-items-baseline">
                                        <div class="giamoi"><%= combos.price %> ₫</div>
                                        <div class="giacu text-muted"><%= combos.cost %> ₫</div>
                                        <div class="sale">-<%= combos.discount %>%</div>
                                    </div>
                                    <div class="danhgia">
                                        <ul class="d-flex" style="list-style: none;">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><span class="text-muted">0 nhận xét</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%})
                %>
               
               
            </div>
        </div>
    </div>
</section>

<!-- khoi sach sap phathanh  -->
<section class="_1khoi sapphathanh mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
            <div class="row">
                <!--header-->
                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light">
                    <h2 class="header text-uppercase" style="font-weight: 400;">SÁCH SẮP PHÁT HÀNH / ĐẶT TRƯỚC</h2>
                    <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                </div>
            </div>
            <div class="khoisanpham">
                <!-- 1 san pham -->
                <%
                    book_coming.map(book_soon=>{%>
                        <div class="card">
                            <a href="/detail_product/<%= book_soon.slug %>" class="motsanpham" style="text-decoration: none; color: black;" data-toggle="tooltip"
                                data-placement="bottom" title="<%= book_soon.name %>">
                                <img class="card-img-top anh" src="images/<%= book_soon.image %>"
                                    alt="ngoai-giao-cua-chinh-quyen-sai-gon">
                                <div class="card-body noidungsp mt-3">
                                    <h3 class="card-title ten"><%= book_soon.name %></h3>
                                    <small class="tacgia text-muted"><%= book_soon.author %></small>
                                    <div class="gia d-flex align-items-baseline">
                                    </div>
                                    <div class="danhgia">
                                        <ul class="d-flex" style="list-style: none;">
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li class="active"><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><span class="text-muted">0 nhận xét</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%})
                %>
                
               
            </div>
        </div>
    </div>
</section>


<!-- div _1khoi -- khoi sachnendoc -->
<section class="_1khoi sachnendoc bg-white mt-4">
    <div class="container">
        <div class="noidung" style=" width: 100%;">
            <div class="row">
                <!--header-->
                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-transparent pt-4">
                    <h2 class="header text-uppercase" style="font-weight: 400;">SÁCH HAY NÊN ĐỌC</h2>
                    <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                </div>
                <!-- 1 san pham -->
                <% 
                    book_good.forEach(function(book_goods){%>
                        <div class="col-lg col-sm-4">
                            <div class="card">
                                <a href="/detail_product/<%= book_goods.slug %>" class="motsanpham" style="text-decoration: none; color: black;"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="<%= book_goods.name %>">
                                    <img class="card-img-top anh" src="images/<%= book_goods.image %>"
                                        alt="tung-buoc-chan-no-hoa">
                                    <div class="card-body noidungsp mt-3">
                                        <h3 class="card-title ten"><%= book_goods.name %></h3>
                                        <small class="thoigian text-muted">03/04/2020</small>
                                        <div><a class="detail" href="#">Xem chi tiết</a></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    <%})
                
                %>
            
                
                
            </div>
        </div>
        <hr>
    </div>
</section>